body {
  font-family: 'Open Sans', sans-serif;
}
header {
  text-align: center;
  margin: 20px 0 10px 0;
  font-size: 2rem;
  font-weight: 400;
}
.canvas {
  height: 100vh !important;
  width: 100vw !important;
}
.picker {
  display: flex;
  align-items: flex-end;
  position: absolute;
  top: 90px;
  left: 60px;
}
.hex {
  height: 120px !important;
  width: 120px !important;
}
.picker h1 {
  margin-left: 40px;
  text-transform: capitalize;
}